<form onsubmit={{action "createNewApp"}}>
  <input
    type="text"
    value={{app.name}}
    placeholder="New App Name"
    oninput={{action "setAppName" value="target.value"}}
  >

  <button type="submit">
    Create New App
  </button>
</form>